
$UntererBereich : linear-gradient(rgba(0, 0, 0,.5),rgba(3, 3, 46, 0.2));
$BorderGrau : rgba(255, 255, 255, 0.274);

$primary-color: #2c3e50;
$secondary-color: #003caa;

$BlueColor : rgb(2, 27, 80);
$GoBackColor : rgb(0, 1, 36);